*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

#Header-1{
    padding: 8px 0;
    background-color: #F6F7F8;
}

.container{
    padding: 0 2rem;
}

#Header-1 .header-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Header-1 .left a{
    margin-right: 18px;
    font-weight: 100;
    color: #666;
}


#Header-1 .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.search i{
    margin-right: 10px;
    color: #666;
}

.search p{
    color: #666;
}

.phone{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.phone i{
    margin-right: 10px;
    color: #666;
}

.phone p{
    color: #666;
}

.lang{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang p{
    color: #666;
    margin-left: 10px;
}

#Header-2{
    padding: 1rem 0;
    border-bottom: 0.5px solid rgba(197, 195, 195, 0.445);
}

#Header-2 .header-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.int-bank{
    display: flex;
    justify-content: center;
    align-items: center;
}

.int-bank p{
    margin-left: 10px;
    font-size: 18px;
    color: #0156C1;
}

.int-bank i{
    font-size: 18px;
    color: #0156C1;
}

.category a, .category span{
    font-size: 20px;
    color: #666;
}

.category span{
    margin: 0 1rem;
}

#Header-3{
    padding: 1rem 0;
    border-bottom: 0.5px solid rgba(192, 190, 190, 0.795);
}

.h3nav a{
    margin-right: 10px;
    color: #000;
}

#Header-m-1{
    padding: 8px 0;
    background-color: #F6F7F8;
    display: none;
}

#Header-m-1 .header-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Header-m-1 .left a{
    margin-right: 12px;
    color: #666;
}


#Header-m-1 .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#Header-m-2{
    display: none;
    padding: 1rem 0;
    border-bottom: 0.5px solid rgba(197, 195, 195, 0.445);
}

#Header-m-2 .header-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 768px) {
    #Header-1{
        display: none;
    }

    #Header-2{
        display: none;
    }

    #Header-3{
        display: none;
    }

    #Header-m-1{
        display: block;
    }

    #Header-m-2{
        display: block;
    }

    .container{
        padding: 0 1rem;
    }
}
